:root {
  --font-primary: "Comforter Brush", cursive;
  --font-accent: "Waiting for the Sunrise", cursive;
  --clr-accent: #45d229;
  --clr-primary: #00838e;
  --clr-shadow: #4d4d4d;
  --clr-black: #000;
  --clr-background: #2f4858;
  --clr-background-transparent: #2f485800;
  --clr-pale-blue: #a6eee6;
  --clr-plum: #24325f;
  --clr-rust: #82491e;
  --clr-neutral: #fff;
  --clr-teal: #00daff;
}

.container {
  background-color: var(--clr-background);
  min-height: 100vh;
  height: 100%;
}
h1 {
  font-family: var(--font-primary);
  color: var(--clr-primary);
  text-shadow: 2px 2px 2px var(--clr-accent);
  font-size: 4rem;
}
h2,
h3 {
  color: var(--clr-accent);
  font-family: var(--font-accent);
  font-weight: 600;
  text-shadow: 2px 2px var(--clr-shadow);
  font-size: 1.25rem;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.d-flex-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.margin-auto {
  margin: 0 auto;
}
img {
  height: 8rem;
  border: 2px solid var(--clr-black);
  border-radius: 4px;
}
.marginTen {
  margin: 0 10px;
}
.marginZero {
  margin: 0;
}
.marginTB {
  margin: 10px 0;
}
.marginTThirty {
  margin-top: 30px;
}
.marginBottom {
  margin-bottom: 40px;
}
.heightEighty {
  height: 80px;
}
.textCenter {
  text-align: center;
}
.imgWidth {
  width: 132px;
}
.paddingSixty {
  padding: 60px;
}
.paddingTop {
  padding-top: 10px;
}
.md-width {
  width: 400px;
}
button {
  border: 4px solid var(--clr-rust);
  color: var(--clr-rust);
  background-color: var(--clr-pale-blue);
  box-shadow: 2px 2px 2px var(--clr-black);
  transition: all 0.3s;
}
button:hover {
  background-color: var(--clr-rust);
  color: var(--clr-neutral);
  transform: translateY(-5px);
  cursor: pointer;
}

.card {
  margin: 50px 50px;
  border: 2px solid var(--clr-black);
  box-shadow: 5px 5px 8px var(--clr-black);
  background-color: var(--clr-primary);
}
.eachCard {
  background-color: var(--clr-plum);
}
.cardBorder {
  border: 2px solid var(--clr-rust);
  border-radius: 4px;
  box-shadow: 2px 2px 2px var(--clr-shadow);
}
.cardWidth {
  width: 172px;
}

/* .title:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--clr-black);
} */
.locationHeight {
  height: 280px;
}
.underline {
  border-bottom: 3px solid var(--clr-black);
  height: 235px;
}
.title {
  font-size: 8rem;
}
@keyframes bounce {
  0% {
    transform: translateY(-150px);
  }
  9.2%,
  27.6%,
  46%,
  64.4%,
  82.8%,
  100% {
    transform: translateY(0);
  }
  18.4% {
    transform: translateY(-125px);
  }
  36.8% {
    transform: translateY(-100px);
  }
  55.2% {
    transform: translateY(-75px);
  }
  73.6% {
    transform: translateY(-50px);
  }
  92% {
    transform: translateY(-25px);
  }
  /* from {
    transform: translateY(-105px);
  }
  to {
    transform: translateY(0);
  } */
}
.bounce {
  animation: bounce 2.5s ease-out 1 normal forwards;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: var(--clr-plum);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-teal);
  cursor: ns-resize;
}
.portal {
  position: relative;
  top: 201px;
  height: 350px;
  border: none;
}
.z-index {
  z-index: 1;
}
.wrapper {
  position: relative;
  background-color: var(--clr-background-transparent);
  top: -275px;
}
